<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sz.internal.acm.mapper.PermissionMapper">

    <resultMap id="ResultMap" type="sz.internal.acm.to.PermissionTO" extends="sz.internal.common.base.mapper.BaseMapper.BaseResultMap">
        <result column="name" property="name"/>
        <result column="app_id" property="app_id"/>
        <result column="url" property="url"/>
        <result column="request_method" property="request_method"/>
        <result column="permission" property="permission"/>
    </resultMap>
    
    <insert id="insert" parameterType="sz.internal.acm.to.PermissionTO" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_acm_permission (
			id,
			name,
			app_id,
			url,
			request_method,
			permission,
			create_by,
			create_dt,
			update_by,
			update_dt
        ) values (
			#{id},
			#{name},
			#{app_id},
			#{url},
			#{request_method},
			#{permission},
			#{create_by},
			#{create_dt,jdbcType=TIMESTAMP},
			#{update_by},
			#{update_dt,jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="sz.internal.acm.to.PermissionTO">
        update tbl_acm_permission set 
			name = #{name},
			app_id = #{app_id},
			url = #{url},
			request_method = #{request_method},
			permission = #{permission},
			create_by = #{create_by},
			create_dt = #{create_dt,jdbcType=TIMESTAMP},
			update_by = #{update_by},
			update_dt = #{update_dt,jdbcType=TIMESTAMP},
			version = version + 1
        where 
			id = #{id}
    </update>

    <delete id="delete" parameterType="sz.internal.acm.to.PermissionTO">
        delete from tbl_acm_permission
        where 
			id = #{id}
	</delete>

    <select id="search" parameterType="sz.internal.acm.to.PermissionTO" resultMap="ResultMap">
        <if test="!pagination">
            SELECT 
			t.id,
			t.name,
			t.app_id,
			t.url,
			t.request_method,
			t.permission,
			t.create_by,
			t.create_dt,
			t.update_by,
			t.update_dt,
			t.version
        </if>
        <if test="pagination">
            SELECT COUNT(1) AS TOTAL_SIZE
        </if>
		FROM tbl_acm_permission t
       	WHERE 1=1
		<if test="id != null">
	    	AND t.id = #{id}
		</if>
		<if test="name != null and name != ''">
	    	AND t.name = #{name}
		</if>
		<if test="name_like != null and name_like != ''">
	    	AND t.name like 
	    	concat("%",REPLACE(REPLACE(REPLACE(REPLACE(#{name_like},"/","//"),"%","/%"),"_","/_"),"[","/["),"%") escape "/"
		</if>
		<if test="app_id != null and app_id != ''">
	    	AND t.app_id = #{app_id}
		</if>
		<if test="url != null and url != ''">
	    	AND t.url = #{url}
		</if>
		<if test="request_method != null and request_method != ''">
	    	AND t.request_method = #{request_method}
		</if>
		<if test="permission != null and permission != ''">
	    	AND t.permission = #{permission}
		</if>
		<if test="create_by != null and create_by != ''">
	    	AND t.create_by = #{create_by}
		</if>
		<if test="create_dt != null">
	    	AND t.create_dt = #{create_dt,jdbcType=TIMESTAMP}
		</if>
		<if test="update_by != null and update_by != ''">
	    	AND t.update_by = #{update_by}
		</if>
		<if test="update_dt != null">
	    	AND t.update_dt = #{update_dt,jdbcType=TIMESTAMP}
		</if>
		<if test="version != null">
	    	AND t.version = #{version}
		</if>
        <if test="!pagination">
            <if test="null!=sortBy and ''!=sortBy ">
                ORDER BY ${sortBy}  ${sortType}
            </if>
        </if>
    </select>

    <select id="find" parameterType="sz.internal.acm.to.PermissionTO" resultMap="ResultMap">
		SELECT 
			t.id,
			t.name,
			t.app_id,
			t.url,
			t.request_method,
			t.permission,
			t.create_by,
			t.create_dt,
			t.update_by,
			t.update_dt,
			t.version
		FROM tbl_acm_permission t
		WHERE 1 = 1 
		<if test="id != null">
	    	AND t.id = #{id}
		</if>
    </select>

	<select id="findAssigned" resultMap="ResultMap">
		SELECT *
		FROM tbl_acm_permission t
		Where 1 = 1
		<if test="role_id != null">
			AND t.id IN (SELECT permission_id from tbl_acm_role_permission WHERE role_id = #{role_id})
		</if>
	</select>

	<select id="findUnassigned" resultMap="ResultMap">
		SELECT *
		FROM tbl_acm_permission t
		WHERE 1 = 1
		<if test="role_id != null">
			AND t.id NOT IN (SELECT permission_id from tbl_acm_role_permission WHERE role_id = #{role_id})
		</if>
		<if test="app_id != null and app_id != ''">
			AND t.app_id=#{app_id}
		</if>
	</select>
	
</mapper>
